{% assign owner = site.data.nav.footer[0] %}
{% assign social = site.data.nav.footer[1] %}
{% assign feed = site.data.nav.footer[2] %}

<footer class="page-footer">
    <div class="page-footer-owner">
        <div class="container">
            <div class="row">
                <div class="col-md-4 pb-3 text-left">
                    <!-- Social media links -->
                    <ul class="list-inline">
                        <li class="list-inline-item">Social: </li>
                        {% for so_link in social.social %}
                        <li class="list-inline-item">
                            {% if so_link.url %}
                            <a href="{{ so_link.url }}"><i class="{{ so_link.icon }}"></i>{{ so_link.label }}</a>
                            {% else %}
                            <strong>{{ so_link.label }}</strong>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    <!-- website feed links -->
                </div>
		<div class="col-md-8 text-right">
				<p>Copyright &copy; {{ owner.owner }}, {{ "now" | date: "%Y" }}. 
			</p>
		</div>
            </div>
        </div>
    </div>
</footer>
